-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: radiojamdb
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `amigos`
--

DROP TABLE IF EXISTS `amigos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `amigos` (
  `IdAmigos` int(11) NOT NULL AUTO_INCREMENT,
  `Username` varchar(50) NOT NULL,
  `IdUsuarioAmigo` int(11) NOT NULL,
  `Estado` varchar(20) DEFAULT NULL,
  PRIMARY KEY (`IdAmigos`),
  KEY `Username` (`Username`),
  KEY `IdUsuarioAmigo` (`IdUsuarioAmigo`),
  CONSTRAINT `amigos_ibfk_1` FOREIGN KEY (`Username`) REFERENCES `usuarios` (`Username`),
  CONSTRAINT `amigos_ibfk_2` FOREIGN KEY (`IdUsuarioAmigo`) REFERENCES `usuarios` (`IdUsuario`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `amigos`
--

LOCK TABLES `amigos` WRITE;
/*!40000 ALTER TABLE `amigos` DISABLE KEYS */;
INSERT INTO `amigos` VALUES (2,'Gael Razo',3,'Aceptado');
/*!40000 ALTER TABLE `amigos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ciudades`
--

DROP TABLE IF EXISTS `ciudades`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ciudades` (
  `IdCiudad` int(11) NOT NULL AUTO_INCREMENT,
  `IdPais` int(11) NOT NULL,
  `Nombre` varchar(100) NOT NULL,
  `Latitud` decimal(10,7) DEFAULT NULL,
  `Longitud` decimal(10,7) DEFAULT NULL,
  PRIMARY KEY (`IdCiudad`),
  KEY `IdPais` (`IdPais`),
  CONSTRAINT `ciudades_ibfk_1` FOREIGN KEY (`IdPais`) REFERENCES `pais` (`IdPais`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ciudades`
--

LOCK TABLES `ciudades` WRITE;
/*!40000 ALTER TABLE `ciudades` DISABLE KEYS */;
INSERT INTO `ciudades` VALUES (1,1,'Internacional',NULL,NULL),(2,2,'Internacional',NULL,NULL),(3,3,'Internacional',NULL,NULL);
/*!40000 ALTER TABLE `ciudades` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `estaciones`
--

DROP TABLE IF EXISTS `estaciones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `estaciones` (
  `IdEstacion` int(11) NOT NULL AUTO_INCREMENT,
  `IdCiudad` int(11) NOT NULL,
  `Nombre` varchar(100) NOT NULL,
  `Stream_url` varchar(255) DEFAULT NULL,
  `Descripcion` text DEFAULT NULL,
  `Genero` varchar(50) DEFAULT NULL,
  `VVID_API` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`IdEstacion`),
  KEY `IdCiudad` (`IdCiudad`),
  CONSTRAINT `estaciones_ibfk_1` FOREIGN KEY (`IdCiudad`) REFERENCES `ciudades` (`IdCiudad`)
) ENGINE=InnoDB AUTO_INCREMENT=32 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `estaciones`
--

LOCK TABLES `estaciones` WRITE;
/*!40000 ALTER TABLE `estaciones` DISABLE KEYS */;
/*!40000 ALTER TABLE `estaciones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `favoritos`
--

DROP TABLE IF EXISTS `favoritos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `favoritos` (
  `IdFavorito` int(11) NOT NULL AUTO_INCREMENT,
  `IdUsuario` int(11) NOT NULL,
  `IdEstacion` int(11) NOT NULL,
  `FechaAgregado` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`IdFavorito`),
  KEY `IdUsuario` (`IdUsuario`),
  KEY `IdEstacion` (`IdEstacion`),
  CONSTRAINT `favoritos_ibfk_1` FOREIGN KEY (`IdUsuario`) REFERENCES `usuarios` (`IdUsuario`),
  CONSTRAINT `favoritos_ibfk_2` FOREIGN KEY (`IdEstacion`) REFERENCES `estaciones` (`IdEstacion`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `favoritos`
--

LOCK TABLES `favoritos` WRITE;
/*!40000 ALTER TABLE `favoritos` DISABLE KEYS */;
INSERT INTO `favoritos` VALUES (1,1,1,'2026-04-14 22:43:51'),(2,1,2,'2026-04-14 22:44:06'),(3,1,3,'2026-04-15 09:12:07');
/*!40000 ALTER TABLE `favoritos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `historial`
--

DROP TABLE IF EXISTS `historial`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `historial` (
  `IdHistorial` int(11) NOT NULL AUTO_INCREMENT,
  `IdUsuario` int(11) NOT NULL,
  `IdEstacion` int(11) NOT NULL,
  `FechaEscucha` datetime DEFAULT current_timestamp(),
  `DuracionSegundos` int(11) DEFAULT NULL,
  PRIMARY KEY (`IdHistorial`),
  KEY `IdUsuario` (`IdUsuario`),
  KEY `IdEstacion` (`IdEstacion`),
  CONSTRAINT `historial_ibfk_1` FOREIGN KEY (`IdUsuario`) REFERENCES `usuarios` (`IdUsuario`),
  CONSTRAINT `historial_ibfk_2` FOREIGN KEY (`IdEstacion`) REFERENCES `estaciones` (`IdEstacion`)
) ENGINE=InnoDB AUTO_INCREMENT=39 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `historial`
--

LOCK TABLES `historial` WRITE;
/*!40000 ALTER TABLE `historial` DISABLE KEYS */;
/*!40000 ALTER TABLE `historial` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `invitacionesjam`
--

DROP TABLE IF EXISTS `invitacionesjam`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `invitacionesjam` (
  `IdInvitacion` int(11) NOT NULL AUTO_INCREMENT,
  `IdJam` int(11) NOT NULL,
  `IdRemitente` int(11) NOT NULL,
  `IdDestinatario` int(11) NOT NULL,
  `Estado` varchar(20) DEFAULT 'Pendiente',
  `Fecha` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`IdInvitacion`),
  KEY `IdJam` (`IdJam`),
  KEY `IdRemitente` (`IdRemitente`),
  KEY `IdDestinatario` (`IdDestinatario`),
  CONSTRAINT `invitacionesjam_ibfk_1` FOREIGN KEY (`IdJam`) REFERENCES `jam` (`IdJam`),
  CONSTRAINT `invitacionesjam_ibfk_2` FOREIGN KEY (`IdRemitente`) REFERENCES `usuarios` (`IdUsuario`),
  CONSTRAINT `invitacionesjam_ibfk_3` FOREIGN KEY (`IdDestinatario`) REFERENCES `usuarios` (`IdUsuario`)
) ENGINE=InnoDB AUTO_INCREMENT=24 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `invitacionesjam`
--

LOCK TABLES `invitacionesjam` WRITE;
/*!40000 ALTER TABLE `invitacionesjam` DISABLE KEYS */;
/*!40000 ALTER TABLE `invitacionesjam` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jam`
--

DROP TABLE IF EXISTS `jam`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jam` (
  `IdJam` int(11) NOT NULL AUTO_INCREMENT,
  `IdEstacion` int(11) NOT NULL,
  `IdCreador` int(11) NOT NULL,
  `Codigo` varchar(50) DEFAULT NULL,
  `Estado` varchar(20) DEFAULT NULL,
  `FechaInicio` datetime DEFAULT NULL,
  `FechaFin` datetime DEFAULT NULL,
  PRIMARY KEY (`IdJam`),
  UNIQUE KEY `Codigo` (`Codigo`),
  KEY `IdEstacion` (`IdEstacion`),
  KEY `IdCreador` (`IdCreador`),
  CONSTRAINT `jam_ibfk_1` FOREIGN KEY (`IdEstacion`) REFERENCES `estaciones` (`IdEstacion`),
  CONSTRAINT `jam_ibfk_2` FOREIGN KEY (`IdCreador`) REFERENCES `usuarios` (`IdUsuario`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jam`
--

LOCK TABLES `jam` WRITE;
/*!40000 ALTER TABLE `jam` DISABLE KEYS */;
/*!40000 ALTER TABLE `jam` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jamusuario`
--

DROP TABLE IF EXISTS `jamusuario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jamusuario` (
  `IdJamUsuario` int(11) NOT NULL AUTO_INCREMENT,
  `IdJam` int(11) NOT NULL,
  `IdUsuario` int(11) NOT NULL,
  `FechaUnion` datetime DEFAULT current_timestamp(),
  `Rol` varchar(20) DEFAULT NULL,
  `UltimoHeartbeat` datetime DEFAULT NULL,
  PRIMARY KEY (`IdJamUsuario`),
  KEY `IdJam` (`IdJam`),
  KEY `IdUsuario` (`IdUsuario`),
  CONSTRAINT `jamusuario_ibfk_1` FOREIGN KEY (`IdJam`) REFERENCES `jam` (`IdJam`),
  CONSTRAINT `jamusuario_ibfk_2` FOREIGN KEY (`IdUsuario`) REFERENCES `usuarios` (`IdUsuario`)
) ENGINE=InnoDB AUTO_INCREMENT=35 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jamusuario`
--

LOCK TABLES `jamusuario` WRITE;
/*!40000 ALTER TABLE `jamusuario` DISABLE KEYS */;
/*!40000 ALTER TABLE `jamusuario` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pais`
--

DROP TABLE IF EXISTS `pais`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pais` (
  `IdPais` int(11) NOT NULL AUTO_INCREMENT,
  `Nombre` varchar(100) NOT NULL,
  `CodigoISO` varchar(10) NOT NULL,
  PRIMARY KEY (`IdPais`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pais`
--

LOCK TABLES `pais` WRITE;
/*!40000 ALTER TABLE `pais` DISABLE KEYS */;
INSERT INTO `pais` VALUES (1,'M├®xico','M├®'),(2,'Brasil','BRA'),(3,'Rusia','RUS');
/*!40000 ALTER TABLE `pais` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuarios`
--

DROP TABLE IF EXISTS `usuarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `usuarios` (
  `IdUsuario` int(11) NOT NULL AUTO_INCREMENT,
  `Username` varchar(50) NOT NULL,
  `Correo` varchar(100) NOT NULL,
  `Contrasena` varchar(255) NOT NULL,
  PRIMARY KEY (`IdUsuario`),
  UNIQUE KEY `Username` (`Username`),
  UNIQUE KEY `Correo` (`Correo`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuarios`
--

LOCK TABLES `usuarios` WRITE;
/*!40000 ALTER TABLE `usuarios` DISABLE KEYS */;
INSERT INTO `usuarios` VALUES (1,'Gael Razo','galekrazom@gmail.com','$2y$10$nw1qy4tV0UTdqw2a0HLXj.YzTtMrD243AOIE1td6jZtB2ELcY333q'),(2,'Karla','karla@gmail.com','$2y$10$ZUoFNMtU5facR37hW8r5xuqJRbnCmLZlPenDBNesaaDnl1wspKTHu'),(3,'Arturo','Arturotest@gmail.com','$2y$10$AQUpF90g09.JxPOUsNqyGOWowDlUyL1FydXwedy3h5h/zfAARPccu');
/*!40000 ALTER TABLE `usuarios` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-30  1:28:04
